
.containerAboutUs{
    background-color:#C1DCDC;
    
    min-height: 513px;
    width: 100%;
    
    font-family: 'Poppins', sans-serif;
   
   
}

.containerAboutUs .text{
    margin-bottom: 48px;
}


.cards{

    display: flex;
   font-size: 40px;
  justify-content: space-around;

  flex-wrap: wrap;
}
